@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto+Mono:ital,wght@0,400;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

::before,::after{
    box-sizing: border-box;
}

body{
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Roboto Condensed' , 'Times New Roman', Times, serif;
}

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

.section{
    background:  linear-gradient(to right,white,grey);
    min-height: 100vh;
    display: block;
    padding: 0 30px;
    opacity: 1;
}

.hidden{
    display: none !important;
}

.main-content{
    padding-left: 270px;
}

ul{
    list-style: none;
}

.container{
    max-width: 1100px;
    width: 100%;
    margin: auto;
}


.padd-15{
    padding-left: 15px;
    padding-right: 15px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}

.btn{
    font-size: 16px;
    font-weight: 500;
    color: white;
    padding: 12px 35px;
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    background-color: lightblue;
    transition: all 0.3s ease;
    border: none;
}

.btn:hover{
    transform: scale(1.2);
}

.shadow-dark{
    box-shadow: 0 0 20px rgb(48, 46, 77, 0.15);
}

/* Section bar */
.aside{
    width: 270px;
    background-color: white;
    position: fixed;
    padding: 30px;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px black;
}


.aside .logo{
    position: absolute;
    top: 50px;
    font-size: 30px;
    text-transform: capitalize;
}

.aside .logo a{
    color:black;
    font-weight: 700;
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 5px;
    position: relative;
}

.aside .logo a span{
    font-family: 'Roboto',cursive;
    font-family: 40px;
}

.aside .logo a::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    bottom: 0px;
    left: 0;
}

.aside .logo a::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    top: 0;
    right: 0;
}

.aside .navigation{
    margin-top: 50px;
    
}

.aside .navigation li{
    margin-bottom: 20px;
    display: block;

}

.aside .navigation li a{
    font-size: 20px;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid black;
    color: rgb(47, 37, 37);
    padding: 5px 15px;
    text-decoration: none;
    text-align: center;
}

aside .navigation li a.active{
    color : var(--skin-color);
}

.aside .nav_toggler{
    height: 40px;
    width: 45px;
    border: 1px solid black;
    cursor: pointer;
    position: fixed;
    left: 300px;
    top:20px;
    border-radius: 5px;
    background: rgba(196, 201, 199, 0.746);
    display: flex;
    align-items: center;
    justify-content: center;
}

.aside .nav_toggler span{
    height: 2px;
    width: 18px;
    background-color: blue;
    display: inline-block;
    position: relative;
}

.aside .nav_toggler span::before{
    content: '';
    height: 2px;
    width: 18px;
    background-color: blue;
    position: absolute;
    top: -6px;
    left: 0;
}

.aside .nav_toggler span::after{
    content: '';
    height: 2px;
    width: 18px;
    background-color: blue;
    position: absolute;
    top: 6px;
    left: 0;
}

/*main page css*/
.home .home_img img{
    height: 500px;
    margin: auto;
    border-radius: 5px;
}

.home .info{
    flex: 0 0 60%;
    max-width: 60%;
}

.home .home_img{
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    text-align: center;
}

.h3.hello{
    font-size: 28px;
    margin: 15px 0;
}

h3.hello span{
    font-family:  'Edu VIC WA NT Beginner', 'Times New Roman', Times, serif , cursive ;
    font-weight: bold;
    font-size: 30px;
    font-weight: 70%;
    color: blue;
}

h3.short-intro{
    font-size: 30px;
    margin: 15px 0;
}

.typing{
    color: var(--skin-color);
}

.info p{
    margin-bottom: 70px;
    font-size: 23px;
    color: black;
    
}

.home{
    min-height: 100vh;
    display: flex;
    color: black;
}

.home_img::after{
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    right: 10px;
    bottom: -30px;
    border-bottom: 10px solid var(--skin-color);
    border-right: 10px solid var(--skin-color);

}

.home_img::before{
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    left: -20px;
    top: -40px;
    border-top: 10px solid var(--skin-color);
    border-left: 10px solid var(--skin-color);

}


/* about me css*/
.section .container{
    padding-top: 60px;
    padding-bottom: 70px;
}

.section-title{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}

.section-title h2{
    font-size: 40px;
    color: black;
    font-weight: 700;
    position: relative;
}

.section-title h2::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    bottom: -5px;
    left: 150px;
}

.section-title h2::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-left: 5px solid var(--skin-color);
    border-top: 5px solid var(--skin-color);
    top: -5px;
    left: -20px;
}

.about .about-content{
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .about-text{
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .about-text h3{
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: black;
}

.about .about-content .about-text h3 span{
    color: var(--skin-color);
}

.about .about-content .about-text p{
    font-size: 16px;
    line-height: 25px;
    color: black;
}

.about .about-content .personal-info{
    flex: 0 0 60%;
    max-width: 60%;
    margin-top: 40px;
}


.about .about-content .skills{
    flex: 0 0 40%;
    max-width: 40%;
    margin-top: 40px;
}

.about .about-content .personal-info .info-item{
    flex: 0 0 50%;
    max-width: 50%;
}

.about .about-content .personal-info .info-item p{
    font-weight: 600;
    padding: 10px 0;
    font-size: 16px;
    color: black;
    border-bottom: 2px solid rgb(25, 24, 24);

}

.about .about-content .personal-info .info-item p span{
    font-weight: 400;
    color: black;
    margin-left: 4px;
    display: inline-block;
}

.about .about-content .personal-info .buttons{
    margin-top: 30px;
}

.about .about-content .personal-info .buttons .btn{
    margin-right: 15px;
    margin-top: 10px;
}


.about .about-content .skills .row .skill-item{
    flex: 0 0 50%;
    max-width: 50%;
    list-style: circle;
    margin-left: 100px;
}

.about .about-content .experience,
.about .about-content .education{
    flex:  0 0 50%;
    max-width: 50%;
    margin-top: 30px;
}

.about .about-content h3.title{
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 700;
    color: black;
}

.about .about-content .timeline-box{
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .timeline{
    background-color: beige;
    padding: 30px 15px;
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
    position: relative;
}

.about .about-content .timeline .timeline-item{
    position: relative;
    padding-left: 37px;
    padding-bottom: 50px;
}

.about .about-content .timeline .timeline-item:last-child{
    padding-bottom: 0;
}

.about .about-content .timeline .timeline-item::before{
    content: '';
    width: 1px;
    position:absolute;
    height: 100%;
    left: 7px;
    top: 0;
    background-color: var(--skin-color);
}

.about .about-content .timeline .circle-dot{
    position: absolute;
    left: 0;
    top: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--skin-color);
}

.about .about-content .timeline .timeline-date{
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 12px;
}

.about .about-content .timeline .timeline-date fa{
    margin-right: 5px;
}

.about .about-content .timeline .timeline-title{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.about .about-content .timeline .timeline-text{
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
}

/*Project css*/
.projects .container{
    padding-bottom: 40px;
}

.projects .projects-item{
    margin-bottom: 30px;
    flex: 0 0 33%;
    max-width: 33%;
}

.projects .projects-item .projects-item-inner{
    background-color: beige;
    border: 1px solid black;
    border-radius: 10px;
    padding: 30px 15px;
    text-align: center;
    transition: all 0.3s ease;
}

.projects .projects-item .projects-item-inner:hover{
    box-shadow: 0 0 20px rgb(48, 46, 77, 0.15);
}

.projects .projects-item .projects-item-inner .icon{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 30px;
    text-align: center;
    transition: all 0.3s ease;
}

.projects .projects-item .projects-item-inner .icon .fa{
    font-size: 40px;
    line-height: 60px;
    color: var(--skin-color);
}

.projects .projects-item .projects-item-inner:hover .icon{
    background-color: var(--skin-color);
}

.projects .projects-item .projects-item-inner:hover .icon .fa{
    font-size: 25px;
    color: white;
}

.projects .projects-item .projects-item-inner h4{
    font-size: 18px;
    margin-bottom: 15px;
    color: black;
    font-weight: 700;
    text-transform: capitalize;
}

.projects .projects-item .projects-item-inner p{
    font-size: 16px;
    color: black;
    line-height: 25px;
}


@media (max-width: 1200px){
    .aside{
        left: -270px;
    }

    .main-content{
        padding-left: 0;
    }
    .about .about-content .personal-info .info-item p span{
        display: block;
        margin-left: 0;
    }
}

@media (max-width: 991px){
    .projects .projects-item{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .about .about-content .education,
    .about .about-content .experience,
    .home .home-info{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .home .home_img{
        display: none;
    }

}

@media (max-width: 750px){
    .about .about-content .skills,
    .about .about-content .personal-info{
        flex: 0 0 100%;
        max-width: 100%;
    }
    

}



